{% extends "base.html" %}

{% block title %}Ressources de Préparation - Master FDS{% endblock %}

{% block content %}
<h2>Ressources de Préparation Complémentaires</h2>

<p>Cette section est dédiée aux liens et documents essentiels pour votre préparation. Concentrez-vous sur ces domaines.</p>

<section class="resource-list">
    <h3>Finance, Évaluation et Mathématiques Financières</h3>
    <ul>
        <li><a href="https://fr.wikipedia.org/wiki/Valeur_actuelle_nette" target="_blank">Concepts clés de la VAN et du TIR (Wikipedia)</a></li>
        <li><a href="https://www.abcbourse.com/apprendre/15_les_warrants.html" target="_blank">Fonctionnement et risques des Warrants</a></li>
        <li><a href="https://www.cfainstitute.org/en/research/foundation/sustainable-finance" target="_blank">Principes de la Finance Durable et ESG (CFA - en anglais, mais conceptuel)</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Swap" target="_blank">Explication détaillée des SWAPs</a></li>
    </ul>

    <h3>Data Science, Algorithmique et Outils</h3>
    <ul>
        <li><a href="https://docs.python.org/fr/3/tutorial/controlflow.html" target="_blank">Tutoriel Python sur les boucles (Pour, TantQue)</a></li>
        <li><a href="https://support.microsoft.com/fr-fr/office/fonction-recherchev-09d7a969-aa20-4e32-8268-20c159aa8d17" target="_blank">Documentation Microsoft sur la fonction RECHERCHEV (VLOOKUP)</a></li>
        <li><a href="https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-essentielles-de-python-pour-la-data-science" target="_blank">Les bases de Pandas et Numpy pour la Data Science</a></li>
    </ul>

    <h3>Culture Générale Économique et RSE</h3>
    <ul>
        <li><a href="https://fr.wikipedia.org/wiki/Obligation_verte" target="_blank">Comprendre les "Green Bonds"</a></li>
        <li><a href="#" target="_blank">Actualités financières récentes (Ajouter votre source préférée)</a></li>
    </ul>
</section>

{% endblock %}